#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "freshrss"
name = "FreshRSS"
description.en = "RSS aggregator with a nice and mobile-friendly design"
description.fr = "Agrégateur de flux RSS avec une interface adaptée au mobile"

version = "1.28.0~ynh1"

maintainers = ["plopoyop"]

[upstream]
license = "AGPL-3.0-only"
website = "http://freshrss.org/"
demo = "https://demo.freshrss.org"
admindoc = "https://freshrss.github.io/FreshRSS/"
code = "https://github.com/FreshRSS/FreshRSS"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/rss"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cz", "de", "en", "es", "fr", "he", "it", "kr", "nl", "oc", "pt", "ru", "tr", "zh-cn"]
    default = "fr"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/FreshRSS/FreshRSS/archive/refs/tags/1.28.0.tar.gz"
    sha256 = "2b2826c5b599dbd9031ee3b0329f8df41412d465a0da9dff077f95ce5e81f183"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.additional_urls = ["/scripts/api.js"]
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.apt]
    packages = "mariadb-server, acl, php8.4-gd, php8.4-zip, php8.4-dom, php8.4-mbstring, php8.4-gmp, php8.4-mysql, php8.4-sqlite3, php8.4-curl, php8.4-intl, php8.4-xml"

    [resources.database]
    type = "mysql"
