packaging_format = 2

id = "freshrss"
name = "FreshRSS"
description.en = "RSS aggregator with a nice and mobile-friendly design"
description.fr = "Agrégateur de flux RSS avec une interface adaptée au mobile"

version = "1.21.0~ynh2"

maintainers = ["plopoyop"]

[upstream]
license = "AGPL-3.0-only"
website = "http://freshrss.org/"
demo = "https://demo.freshrss.org"
admindoc = "https://freshrss.github.io/FreshRSS/"
code = "https://github.com/FreshRSS/FreshRSS"

[integration]
yunohost = ">= 11.1.21"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/rss"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "string"
    choices = ["cz", "de", "en", "es", "fr", "he", "it", "kr", "nl", "oc", "pt", "ru", "tr", "zh-cn"]
    default = "fr"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/FreshRSS/FreshRSS/archive/1.21.0.tar.gz"
        sha256 = "86d9f5953fbe5bd04aee105d7c92272055e6816ba893b9a153a575e7535c7d78"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.additional_urls = ["/scripts/api.js"]
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.apt]
    packages = "mariadb-server acl php8.2-gd php8.2-zip php8.2-dom php8.2-mbstring php8.2-gmp php8.2-mysql php8.2-sqlite3 php8.2-curl php8.2-intl php8.2-xml"

    [resources.database]
    type = "mysql"
