packaging_format = 2

id = "freshrss"
name = "FreshRSS"
description.en = "RSS aggregator with a nice and mobile-friendly design"
description.fr = "Agrégateur de flux RSS avec une interface adaptée au mobile"

version = "1.26.1~ynh1"

maintainers = ["plopoyop"]

[upstream]
license = "AGPL-3.0-only"
website = "http://freshrss.org/"
demo = "https://demo.freshrss.org"
admindoc = "https://freshrss.github.io/FreshRSS/"
code = "https://github.com/FreshRSS/FreshRSS"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/rss"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cz", "de", "en", "es", "fr", "he", "it", "kr", "nl", "oc", "pt", "ru", "tr", "zh-cn"]
    default = "fr"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/FreshRSS/FreshRSS/archive/refs/tags/1.26.1.tar.gz"
        sha256 = "6c42d1cbcf89d8cf97951a10e73f4984383e513c757b4ce0677cb60c25c235ac"
        autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.additional_urls = ["/scripts/api.js"]
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.apt]
    packages = "mariadb-server, acl, php8.3-gd, php8.3-zip, php8.3-dom, php8.3-mbstring, php8.3-gmp, php8.3-mysql, php8.3-sqlite3, php8.3-curl, php8.3-intl, php8.3-xml"

    [resources.database]
    type = "mysql"
